<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    {% if mars %}
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3>Latest Mars News</h3>
        <h4>{{ mars['recent.article'] }}</h4>
        <p>{{ mars['recent.teaser'] }}</p>
      </div>
    </div>
    <div class="row" id="mars-image">
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
        <img src="{{ mars['featured.image'] }}" width='700px' alt="Mars Image">
      </div>
      <div class="col-md-4">
        <h4>Current Weather on Mars</h4>
        <p>{{ mars['weather'] }}</p>
        <br>
        <h4>Mars Facts</h4>
        <p>
          <table border="2" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>Measurements</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Equatorial Diameter:</td>
                <td>6,792 km</td>
              </tr>
              <tr>
                <td>Polar Diameter:</td>
                <td>6,752 km</td>
              </tr>
              <tr>
                <td>Mass:</td>
                <td>6.39 × 10^23 kg (0.11 Earths)</td>
              </tr>
              <tr>
                <td>Moons:</td>
                <td>2 (Phobos &amp; Deimos)</td>
              </tr>
              <tr>
                <td>Orbit Distance:</td>
                <td>227,943,824 km (1.38 AU)</td>
              </tr>
              <tr>
                <td>Orbit Period:</td>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <td>Surface Temperature:</td>
                <td>-87 to -5 °C</td>
              </tr>
              <tr>
                <td>First Record:</td>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <td>Recorded By:</td>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

    <div class="row" id="mars-hemispheres">
      <div class="col-md-12">
        <h3>
          <center>Mars Hemispheres</center>
        </h3>
        {% for hemisphere in mars.hemispheres %}
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="{{ hemisphere.img_url }}">
            <h3>{{ hemisphere.title }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    {% endif %}
  </div>
  </div>
  </div>
  </div>
</body>

</html>